@import "~bootstrap/scss/functions";
/** Import Bootstrap functions
/** To see variable overrides visis: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss */

/*
* Colors
*/

$theme-colors: (
  primary: #1f58c6,
  secondry: #ff6259,
  china-blue: #1f58c6,
  peach: #ff6259,
  china-blue-light:lighten(#1f58c6, 50%),
  light-grey: #f9f9f9,
);

$primary: #1f58c6;
$primary-hover: #00318e;
$secondary: #ff6259;
$secondary-hover: #f43f35;

// Theme variable overrides
$body-bg: var(--white);
$body-color: var(--black);

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 5.625) //90
  ),
  $spacers
);

$grey-100: #f9f9f9;
$grey-200: #fbfbfb;
$grey-300: #d8d8d8;
$grey-400: #f7f7f7;
$grey-500: #e5e5e5;
$grey-600: #a3a3a3;
$grey-700: #495057 !default;
$grey-800: #343a40 !default;
$grey-900: #212529 !default;

/*
* Typography
*/

$font-family-sans-serif: 'Montserrat', Roboto, 'Helvetica Neue', Arial, sans-serif;
$headings-font-family: 'Cormorant Garamond', Garamond, Baskerville, serif;

$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.8125;

$font-weight-light: 300;
$font-weight-medium: 500; //new delairation
$font-weight-semi-bold: 600; //new delairation
$font-weight-base: $font-weight-light;
$line-height-base: 1.125;
$line-height-sm: 1;
$line-height-lg: 1.7;

$h1-font-size: $font-size-base * 5; //80
$h2-font-size: $font-size-base * 3.75; //60
$h3-font-size: $font-size-base * 2.1875; //35
$h4-font-size: $font-size-base * 1.625; //26
$h5-font-size: $font-size-base * 1.25; //20;
$h6-font-size: $font-size-base;

$display1-size: $font-size-base * 3.75; //60;
$display2-size: $font-size-base * 1.625; //26
$display3-size: $font-size-base * 0.625; //10
$display4-size: $font-size-base;
$display5-size: $font-size-base * 0.875; //14;

$display1-weight: 400;
$display2-weight: $font-weight-medium;
$display3-weight: $font-weight-medium;
$display4-weight: $font-weight-medium;
$display5-weight: $font-weight-light;
$display-line-height: $line-height-base;

/*
Components
Define common padding and border radius sizes and more.
*/

$border-radius: .5rem;
$border-radius-lg: .25rem;
$border-radius-sm: 2px;

/*
Buttons
*/
$btn-border-radius: $border-radius-sm;
$btn-padding-y: 0.688rem;
$btn-padding-x: 1.75rem;
$hr-margin-y: 1.75rem;
$breadcrumb-padding-x: 0;

$input-btn-padding-y: 0.688rem;
$input-btn-padding-x: 1.75rem;

$component-active-bg: theme-color('peach');
$input-btn-focus-color: theme-color('peach');

$grid-gutter-width: 44px;
$grid-breakpoints: (xs: 0, sm: 480px, md: 768px, lg: 1024px, xl: 1280px );
$container-max-widths: (sm: 1024px, md: 1028px, lg: 1280px );

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// Forms
$input-border-color: var(--white);
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;

// Links
//
// Style anchor elements.
$link-color: black;
$link-decoration: underline;
$link-hover-color: theme-color("china-blue");
$emphasized-link-hover-darken-percentage: 15% !default; // Darken percentage for links with `.text-*` class (e.g. `.text-success`)

$breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);
$breadcrumb-bg: transparent;
$breadcrumb-margin-bottom: 0;
$breadcrumb-border-radius: 0;

// Badges

$badge-font-size: 75%;
$badge-font-weight: $font-weight-medium;
$badge-padding-y:.4375rem;
$badge-padding-x: 1.1875rem;
$badge-pill-padding-x: $badge-padding-x;
$badge-pill-padding-y: $badge-padding-y;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius: $border-radius-sm;

$box-shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
$box-shadow: 0 .125rem 0.25rem rgba(0, 0, 0, .15);
$box-shadow-lg: 0 0.25rem 2.5rem rgba(0, 0, 0, .05);

$nav-tabs-link-active-color: theme-color('peach');
$nav-tabs-link-hover-border-color: theme-color('peach');

// Pagination

$pagination-color: theme-color('china-blue');
$pagination-bg: theme-color('light-grey');
$pagination-border-color: #e9e9e9;

$pagination-focus-box-shadow:       none;
$pagination-focus-outline:          0 !default;

$pagination-hover-color: $pagination-color;
$pagination-hover-bg: theme-color('china-blue-light');
$pagination-hover-border-color: theme-color('china-blue');

$pagination-active-color: $pagination-color;
$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border-color: $pagination-hover-border-color;

// Modals
$modal-content-border-radius: 0;
$modal-lg:1024px;
$modal-xl: 1240px;
$modal-backdrop-opacity: 0.3;
$modal-content-bg: theme-color('light-grey');

