<apex:page controller="PortalUploadFileController" showHeader="false" standardStylesheets="false" lightningStyleSheets="true" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<apex:slds />
<c:PortalHead />
<body class="slds-scope fl">
	<!-- REQUIRED SLDS WRAPPER -->
	<div class="fl-container">
		<c:OffcanvasNavigation />
		<!-- Off canvas content wrapper -->
		<div class="fl-offcanvas_content-wrap">
			<div class="fl-offcanvas_content">
				<c:PortalHeader />
				<apex:form styleClass="fl_wrapper" id="frm" >
				<div class="slds-grid slds-gutters">
					<div class="slds-col slds-size_12-of-12">
						<h1>Upload file as attachment</h1>
					</div>
				</div>
				<div class="slds-m-vertical_large">
					<div class="slds-grid slds-gutters">
						<div class="slds-col slds-size_12-of-12">
							<apex:commandButton action="/" styleClass="slds-button slds-button_neutral slds-float_right" value="Back" />
							<apex:commandButton action="{!Upload}" styleClass="slds-button slds-button_brand slds-float_right slds-m-right_large fl-btn-save" value="Save File as Attachment" />
						</div>
					</div>
				</div>
				<div class="slds-m-vertical_large">
					<div class="slds-grid slds-gutters slds-wrap slds-grid_vertical-align-start slds-m-vertical_small">
						<div class="slds-col slds-size_12-of-12 slds-medium-size_12-of-12">
							<div class="slds-box">
								<div class="slds-form-element">
									<span class="slds-form-element__label" id="file-selector-primary-label">Attachment</span>
									<div class="slds-form-element__control">
										<div class="slds-file-selector slds-file-selector_files">
											<apex:inputFile styleclass="slds-file-selector__input slds-assistive-text" value="{!AttchBody}" contentType="{!contentType}" fileName="{!AttchName}" id="text-input-browseFile"/>
											<apex:outputLabel styleClass="slds-file-selector__body" for="text-input-browseFile">
											<span class="slds-file-selector__button slds-button slds-button_brand">
												<svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
													<use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#upload')}" />
												</svg>Upload files</span>
											</apex:outputLabel>
										</div>
									</div>
								</div>
								<div class="slds-file-selector__text slds-text-body_small slds-p-top_xx-small"></div>
								<div class="slds-form-element">
									<label class="slds-form-element__label" for="text-input-description">Description</label>
									<div class="slds-form-element__control">
										<apex:inputTextarea styleClass="slds-textarea" id="text-input-description" value="{!AttchDesc}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</apex:form>
		</div>
	</div> <!-- END: Off canvas content wrapper -->
</div>
<c:PortalFooter />
<c:PortalScripts />
<script>
(function(){
	var uploadButton = document.querySelector('.slds-file-selector__input');
	var fileText = document.querySelector('.slds-file-selector__text');
	var saveButton = document.querySelector('.fl-btn-save');


	saveButton.classList.add('slds-hide');

	uploadButton.onchange = function (event) {
		var fileName= event.target.files[0].name;
		fileText.innerHTML=fileName;
		saveButton.classList.remove('slds-hide');
	};
})();


</script>
</body>
</html>
</apex:page>