body#tinymce {
  margin: 12px !important;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: $headings-margin-bottom;
    line-height: $line-height-base;
  }

  h1, .h1 {
    font-family: $headings-font-family;
    line-height: $line-height-sm;
    font-weight: $font-weight-semi-bold;
    font-size: $h2-font-size;

    @include media-breakpoint-up(md) {
      line-height: $line-height-base;
      font-size: $h2-font-size;
    }
  }

  h2, .h2 {
    font-family: $font-family-sans-serif;
    font-size: $h2-font-size;

    @include media-breakpoint-up(md) {
      font-size: $h3-font-size;
    }
  }

  h3, .h3 {
    font-size: $h3-font-size;
  }

  /*
  * done to here
  */
  h4, .h4 {
    font-size: $h4-font-size;
  }

  h5, .h5 {
    font-size: $h5-font-size;
  }

  h6, .h6 {
    font-size: $h6-font-size;
  }

  .display-1 {
    font-size: $display1-size;
    font-weight: $display1-weight;
    line-height: $display-line-height;
  }

  .display-2 {
    font-family: $font-family-sans-serif;
    font-size: $display2-size;
    font-weight: $display2-weight;
    line-height: $display-line-height;
  }

  .display-3 {
    font-size: $display3-size;
    font-weight: $display3-weight;
    line-height: $display-line-height;
    text-transform: uppercase;
  }

  .display-4 {
    font-size: $display4-size;
    font-weight: $display4-weight;
    line-height: $display-line-height;
  }

  .display-5 {
    font-size: $display5-size;
    font-weight: $display5-weight;
    line-height: $display-line-height;
  }

  .display-link {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
  }
}

