.THIS.lf-hero{position: relative; height: 56.25vw; width: 100vw; overflow: hidden;}
.THIS video { position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; transform: translateX(-50%) translateY(-50%); background: none #000000 no-repeat; background-size: cover; transition: 1s opacity; }
.THIS .lf_videoHero { height: 56.25vw; }
.THIS .lf_videoHero > div, .THIS .lf_videoHero > div > div { height: 100%; }
.THIS .lf_videoHero h2 { }

.THIS .lf_videoHero a.slds-button {  }
.THIS a { }
.THIS a.slds-button:hover { }
@media t(mqSmall){
	.THIS .lf_videoHero .slds-grid > div{text-align: center;}
}
@media screen and (max-width: 47.9375em) {
	.THIS.lf-hero{ background:transparent none no-repeat center center fixed; }
}
/* .THIS.parallaxParent {
	height: 100vh;
	overflow: hidden;
}
.THIS.parallaxParent > *  {
	height: 200%;
	position: relative;
	top: -100%;
} */
.THIS.lf_parallaxParent{
	position: relative;
	height: 56.25vw;
	width: 100vw;
	overflow: hidden;
}
.THIS .lf_parallaxChild {
	height: 130%;
	position: relative;
	top: -50%;
 }