.THIS .iframeWrapper,
.THIS .iframeChart {
        border:2px solid yellow;
    }
 .THIS.iframeWrapper .lightningContainer{
	position: relative;
	padding-bottom: 80.4930332261522%;
	padding-top: 25px;
	height: 0;
}
.THIS .iframeChart {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}