.cards-wrap {
  .card {
    position: relative;
    height: 100%;
    border-color: $grey-500;
    box-shadow: $box-shadow;
    border-radius: 0;

    .badge {
      position: absolute;
      top: 1.875rem;
      left: 2.5rem;
    }

    h2.card-title {
      font-family: $headings-font-family;
      text-decoration: none;
      font-size: 1.625rem;
    }

    .card-text {
      text-decoration: none;
    }

    .card-meta {
      text-transform: uppercase;
      font-size: 0.625rem;

      .author {
        display: inline-block;
        margin-right: 1rem;
      }

      .time {
        display: inline-block;
        margin-left: 1rem;
      }
    }

    a.card-link {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: block;
    }
  }
}
