.yikes-mailchimp-container {
  .yikes-easy-mc-form input[type=email],
  .yikes-easy-mc-form input[type=number],
  .yikes-easy-mc-form input[type=password],
  .yikes-easy-mc-form input[type=text],
  .yikes-easy-mc-form input[type=url] {
    height: $input-height;
    padding: $input-padding-y $input-padding-x;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-light;
    border: 0 none;
    background-color: $white;

    &::-ms-expand {
      background-color: transparent;
      border: 0;
    }

    &::placeholder {
      color: $input-placeholder-color;
      opacity: 1;
    }

    &:disabled,
    &[readonly] {
      background-color: $input-disabled-bg;
      opacity: 1;
    }

    &:hover {
      outline: 1px solid $grey-500;
    }

    &:focus {
      outline: 1px solid $primary;
    }
  }

  .yikes-easy-mc-form select {
    &:focus::-ms-value {
      color: $input-color;
      background-color: $input-bg;
    }
  }

  .checkbox-parent-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .yikes-easy-mc-form .field-no-label, .yikes-easy-mc-form label {
    display: inline-block;
    margin-bottom: .675em;
    width: 100%;

    span {
      color: $grey-600;
      display: inline-block;
      margin-bottom: .675em;
    }
  }

  .yikes-easy-mc-form .yikes-easy-mc-submit-button {
    display: inline-block;
    font-size: 0.8125rem;
    width: auto;
    margin: 0;
    min-height: auto;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.688rem 1.75rem;
    line-height: 1.125;
    border-radius: 2px;
  }
}

/* mailchimp button */
.mpam-submit.button {
  color: #fff;
  background-color: #ff6259;
  border-color: #ff6259;
  -webkit-appearance: button;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.688rem 1.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.mailchimp_form_simple {
  p {
    display: inline-block;
  }

  input {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: 0.5rem;
    height: calc(2.626rem + 2px);
    padding: 0.688rem 1.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--white);
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }
}
