.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - #{$modal-dialog-margin * 2});

  // Ensure `modal-dialog-centered` extends the full height of the view (IE10/11)
  &::before {
    display: block; // IE10
    height: calc(100vh - #{$modal-dialog-margin * 2});
    content: "";
  }

  // Ensure `.modal-body` shows scrollbar (IE10/11)
  &.modal-dialog-scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .modal-content {
      max-height: none;
    }

    &::before {
      content: none;
    }
  }
}

// Actual modal
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $modal-content-bg;
  background-clip: padding-box;
  outline: 0;
  border-color: $grey-500;
  box-shadow: $box-shadow;
}

.modal-header {
  border-bottom: 0 none;
  position: relative;
  padding: 1rem 0.75rem;

  .close {
    margin: 0;
    padding: .625rem;
    opacity: 1;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.modal-body {
  position: relative;
}

// Footer (for actions)
.modal-footer {
  border: 0 none;
}

@include media-breakpoint-up(sm) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: $modal-md;
    margin: $modal-dialog-margin-y-sm-up auto;

    @include media-breakpoint-up(lg) {
      max-width: $modal-lg;
    }

    @include media-breakpoint-up(xl) {
      max-width: $modal-xl;
    }
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - #{$modal-dialog-margin-y-sm-up * 2});

    .modal-content {
      max-height: calc(100vh - #{$modal-dialog-margin-y-sm-up * 2});
    }
  }

  .modal-dialog-centered {
    min-height: calc(100% - #{$modal-dialog-margin-y-sm-up * 2});

    &::before {
      height: calc(100vh - #{$modal-dialog-margin-y-sm-up * 2});
    }
  }

  .modal-content {
    @include box-shadow($modal-content-box-shadow-sm-up);
  }

  .modal-sm { max-width: $modal-sm; }
}
