
//
// Tabs
//
@include media-breakpoint-down(md) {
  .scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

.nav-tabs {
  border: 0 none;

  @include media-breakpoint-down(md) {
    display: flex;
    flex-wrap: nowrap;
  }

  .nav-item {
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      flex: 0 0 auto;
    }
  }

  .nav-link {
    border: 0 none;
    border-radius: 0;
    text-decoration: none;

    &:first-child {
      padding-left: 0;
    }

    &.disabled {
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    @include media-breakpoint-up(md) {
      color: $nav-tabs-link-active-color;
      font-weight: $font-weight-medium;
      background-color: transparent;
      border-color: transparent;

      &::after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background-color: theme-color('peach');
      }
    }
  }
}

// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}

.tab-pane article {
  border-bottom: 1px solid $gray-300;
  padding: 1rem 0;

  @include media-breakpoint-up(lg) {
    border: 0 none;
  }
}

